.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #212529;
  padding: 1.5rem;
  color: white;
  border-radius: 8px;
  min-width: 300px;
  width: 580px;
  min-height: 500px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}
